# Assignment 4

Before working on this assignment please read these instructions fully. In the submission area, you will notice that you can click the link to **Preview the Grading** for each step of the assignment. This is the criteria that will be used for peer grading. Please familiarize yourself with the criteria before beginning the assignment.

This assignment requires that you to find **at least** two datasets on the web which are related, and that you visualize these datasets to answer a question with the broad topic of **sports or athletics** (see below) for the region of **Ann Arbor, Michigan, United States**, or **United States** more broadly.

You can merge these datasets with data from different regions if you like! For instance, you might want to compare **Ann Arbor, Michigan, United States** to Ann Arbor, USA. In that case at least one source file must be about **Ann Arbor, Michigan, United States**.

You are welcome to choose datasets at your discretion, but keep in mind **they will be shared with your peers**, so choose appropriate datasets. Sensitive, confidential, illicit, and proprietary materials are not good choices for datasets for this assignment. You are welcome to upload datasets of your own as well, and link to them using a third party repository such as github, bitbucket, pastebin, etc. Please be aware of the Coursera terms of service with respect to intellectual property.

Also, you are welcome to preserve data in its original language, but for the purposes of grading you should provide english translations. You are welcome to provide multiple visuals in different languages if you would like!

As this assignment is for the whole course, you must incorporate principles discussed in the first week, such as having as high data-ink ratio (Tufte) and aligning with Cairoâ€™s principles of truth, beauty, function, and insight.

Here are the assignment instructions:

 * State the region and the domain category that your data sets are about (e.g., **Ann Arbor, Michigan, United States** and **sports or athletics**).
 * You must state a question about the domain category and region that you identified as being interesting.
 * You must provide at least two links to available datasets. These could be links to files such as CSV or Excel files, or links to websites which might have data in tabular form, such as Wikipedia pages.
 * You must upload an image which addresses the research question you stated. In addition to addressing the question, this visual should follow Cairo's principles of truthfulness, functionality, beauty, and insightfulness.
 * You must contribute a short (1-2 paragraph) written justification of how your visualization addresses your stated research question.

What do we mean by **sports or athletics**?  For this category we are interested in sporting events or athletics broadly, please feel free to creatively interpret the category when building your research question!

## Tips
* Wikipedia is an excellent source of data, and I strongly encourage you to explore it for new data sources.
* Many governments run open data initiatives at the city, region, and country levels, and these are wonderful resources for localized data sources.
* Several international agencies, such as the [United Nations](http://data.un.org/), the [World Bank](http://data.worldbank.org/), the [Global Open Data Index](http://index.okfn.org/place/) are other great places to look for data.
* This assignment requires you to convert and clean datafiles. Check out the discussion forums for tips on how to do this from various sources, and share your successes with your fellow students!

## Example
Looking for an example? Here's what our course assistant put together for the **Ann Arbor, MI, USA** area using **sports and athletics** as the topic. [Example Solution File](./readonly/Assignment4_example.pdf)

In [27]:
#https://github.com/fivethirtyeight/data/tree/master/mlb-elo

In [28]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
data1=pd.read_excel('1871-1900.xlsx')
data2=pd.read_excel('1901-1950.xlsx')
data3=pd.read_excel('1951-1999.xlsx')

In [30]:
print(data1['season'].min())
print(data1['season'].max())

1871
1900

In [31]:
print(data2['season'].min())
print(data2['season'].max())

1901
1950

In [32]:
print(data3['season'].min())
print(data3['season'].max())

1951
1999

In [33]:
# print(data4['season'].min())
data1['team1'].unique()

array(['STL', 'SFG', 'PIT', 'PHI', 'LAD', 'CHC', 'CIN', 'ATL', 'WS9',
       'BL2', 'CL3', 'LS2', 'PHP', 'ML3', 'BSP', 'CL6', 'CN3', 'PH4',
       'SR2', 'RC2', 'TL2', 'BR4', 'IN3', 'KC2', 'WS8', 'DTN', 'NY4',
       'SLU', 'KCN', 'BFN', 'PRO', 'RIC', 'CL2', 'TL1', 'CL5', 'IN2',
       'WS7', 'WOR', 'TRN', 'CN1', 'SR1', 'ML1', 'IN1', 'SL2', 'LS1',
       'HR1', 'NY2', 'PH1', 'NH1', 'PH2', 'BR2', 'SL1', 'KEO', 'WS6',
       'PH3', 'BL1', 'WS5', 'ELI', 'BL4', 'BR1', 'CL1', 'MID', 'TRO',
       'WS4', 'WS3', 'FW1', 'RC1'], dtype=object)

In [34]:
data1.head()

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,elo2_post,rating1_pre,rating2_pre,pitcher1,pitcher2,pitcher1_rgs,pitcher2_rgs,pitcher1_adj,pitcher2_adj,rating_prob1,rating_prob2,rating1_post,rating2_post,score1,score2
0,1900-10-14,1900,0,NaN,STL,CIN,1506.277,1507.865,0.532209,0.467791,1509.500,1504.643,1506.484,1507.811,scote102,sudhw101,NaN,NaN,NaN,NaN,0.532583,0.467417,1509.703,1504.592,7,0
1,1900-10-13,1900,0,NaN,STL,CIN,1505.011,1509.132,0.528577,0.471423,1506.277,1507.865,1505.217,1509.078,hahnn101,jonec107,NaN,NaN,NaN,NaN,0.531808,0.468192,1506.484,1507.811,3,2
2,1900-10-13,1900,0,NaN,SFG,LAD,1486.138,1549.014,0.444285,0.555715,1484.965,1550.187,1486.097,1549.106,howeh101,tayld102,NaN,NaN,NaN,NaN,0.444096,0.555904,1484.925,1550.278,0,1
3,1900-10-13,1900,0,NaN,PIT,CHC,1565.552,1477.651,0.655692,0.344308,1563.168,1480.035,1565.659,1477.571,menej101,tannj101,NaN,NaN,NaN,NaN,0.655935,0.344065,1563.273,1479.956,5,7
4,1900-10-13,1900,0,NaN,PHI,ATL,1528.634,1531.476,0.530411,0.469589,1531.161,1528.950,1528.548,1531.312,lewit101,bernb101,NaN,NaN,NaN,NaN,0.530523,0.469477,1531.074,1528.786,8,3

In [35]:
data=pd.concat([data1,data2,data3],axis=0)

In [36]:
# select a team
team='CHC'

In [37]:
data_team=data[(data.team1==team) | (data.team2==team)]

In [38]:
#

In [39]:
def pre_rating_of_tgt_team(team1,team2,pre_team1_rating,pre_team2_rating,post_team1_rating,post_team2_rating,team):
    if team1==team:
        return pre_team1_rating
    else:
        return pre_team2_rating
    
def post_rating_of_tgt_team(team1,team2,pre_team1_rating,pre_team2_rating,post_team1_rating,post_team2_rating,team):
    if team1==team:
        return post_team1_rating
    else:
        return post_team2_rating

In [40]:
data_team.loc[:,'pre_rating']=data_team.apply(lambda x : pre_rating_of_tgt_team(x['team1'],x['team2'],x['rating1_pre'],x['rating2_pre'],x['rating1_post'],x['rating2_post'],team),axis=1)

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [41]:
data_team.loc[:,'post_rating']=data_team.apply(lambda x : post_rating_of_tgt_team(x['team1'],x['team2'],x['rating1_pre'],x['rating2_pre'],x['rating1_post'],x['rating2_post'],team),axis=1)

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:297: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [42]:
data_team=data_team[['date','season','team1','team2','pre_rating','post_rating']]

In [43]:
data_team.head()

         date  season team1 team2  pre_rating  post_rating
3  1900-10-13    1900   PIT   CHC    1477.571     1479.956
5  1900-10-12    1900   PIT   CHC    1479.099     1477.571
8  1900-10-11    1900   PIT   CHC    1479.958     1479.099
14 1900-10-08    1900   CHC   CIN    1483.809     1479.958
16 1900-10-08    1900   CHC   CIN    1488.092     1483.809

In [44]:
min_max_dt_season=data_team.groupby('season').aggregate({'date':[min,max]})
min_max_dt_season.columns=min_max_dt_season.columns.droplevel(0)

In [45]:
min_max_dt_season=min_max_dt_season.merge(data_team,left_on='min',right_on='date',how='left')[['season','min','max','pre_rating']]

In [46]:
min_max_dt_season=min_max_dt_season.merge(data_team[['date','post_rating']],left_on='max',right_on='date',how='left')[['season','min','max','pre_rating','post_rating']]

In [47]:
min_max_dt_season=min_max_dt_season[min_max_dt_season.season>=1950]

In [48]:
min_max_dt_season=min_max_dt_season.set_index('season')

In [49]:
min_max_dt_season.head()

              min        max  pre_rating  post_rating
season
1950   1950-04-18 1950-10-01    1467.021     1443.018
1951   1951-04-17 1951-09-30    1463.679     1438.283
1951   1951-04-17 1951-09-30    1463.679     1440.206
1952   1952-04-15 1952-09-28    1460.522     1499.632
1953   1953-04-14 1953-09-27    1501.422     1467.700

In [50]:
color=['red'  if x>=y else 'green' for x,y in zip(min_max_dt_season['pre_rating'],min_max_dt_season['post_rating'])]

In [51]:
color

['red',
 'red',
 'red',
 'green',
 'red',
 'red',
 'red',
 'red',
 'red',
 'green',
 'green',
 'red',
 'red',
 'red',
 'green',
 'red',
 'red',
 'red',
 'green',
 'green',
 'green',
 'green',
 'red',
 'green',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'red',
 'green',
 'red',
 'red',
 'green',
 'red',
 'green',
 'red',
 'red',
 'red',
 'green',
 'green',
 'red',
 'red',
 'red',
 'green',
 'red',
 'green',
 'red',
 'red',
 'green',
 'red']

In [25]:
max_list=list(min_max_dt_season[["post_rating", "pre_rating"]].max(axis=1))
min_list=list(min_max_dt_season[["post_rating", "pre_rating"]].min(axis=1))

In [84]:
import matplotlib.ticker as ticker

plt.figure(figsize=(30,10))
plt.bar(height=[a-b for a,b in zip(max_list,min_list)],left=list(min_max_dt_season.index),width=0.5,color=color,bottom=min_list)
ax=plt.gca()


ax.xaxis.set_major_locator(ticker.MultipleLocator(1))

x=plt.gca().xaxis

for item in  x.get_ticklabels():
    item.set_rotation(45)
    

ax=plt.gca()
ax.legend(loc="lower right");
ax.set_xlim(1940,2010)
ax.set_ylim(1400,1600)


    
for i in ax.patches:
    print(i.get_x()+.12, i.get_height()+3)
    ax.text(i.get_x()+.12, i.get_height()+3, \
        str(round((i.get_height()), 2))+'%', fontsize=5,
                color='black',transform=ax.transAxes)

ttl = ax.set_title('Team\'s Rating Before and After each Season - \'%s\''%(team), fontsize=18, color='black')
ttl.set_position([.5, 1.02])

#

1949.87 27.00299999999993
1950.87 28.396000000000186
1950.87 26.473000000000184
1951.87 42.11000000000013
1952.87 36.72199999999998
1953.87 18.759000000000015
1954.87 15.490999999999985
1955.87 30.517000000000053
1956.87 4.77800000000002
1957.87 8.522000000000162
1958.87 5.545999999999822
1959.87 43.572000000000116
1960.87 19.666999999999916
1961.87 44.62999999999988
1962.87 26.00799999999981
1963.87 13.945000000000164
1964.87 27.101000000000113
1965.87 27.866999999999962
1966.87 47.264000000000124
1967.87 6.4220000000000255
1968.87 3.048999999999978
1969.87 21.595000000000027
1970.87 23.498999999999796
1971.87 32.88599999999997
1972.87 43.03800000000001
1973.87 41.460000000000036
1974.87 9.274999999999864
1975.87 6.9500000000000455
1976.87 13.123000000000047
1976.87 12.105999999999995
1977.87 10.06899999999996
1978.87 10.238000000000056
1979.87 49.837999999999965
1980.87 18.985999999999876
1981.87 28.971000000000004
1982.87 17.812000000000126
1983.87 51.22700000000009
1984.87 37.40499999999997
1985.87 24.817000000000007
1986.87 18.223999999999933
1987.87 4.653999999999996
1988.87 40.1579999999999
1989.87 35.718999999999824
1990.87 10.469000000000051
1991.87 6.125
1992.87 13.353000000000065
1993.87 25.108999999999924
1994.87 17.634000000000015
1995.87 15.030999999999949
1996.87 27.626999999999953
1997.87 28.194999999999936
1998.87 63.853999999999814

/opt/conda/lib/python3.6/site-packages/matplotlib/axes/_axes.py:545: UserWarning: No labelled objects found. Use label='...' kwarg on individual plots.
  warnings.warn("No labelled objects found. "

In [ ]:
ax.get_anchor()

In [83]:
list(min_max_dt_season.index)

[1950,
 1951,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999]